# ── Database ───────────────────────────────────────────────────
POSTGRES_DB=jobboard
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHanGE_me__TRo!!G_P^SSwORd 

# ── Nginx ──────────────────────────────────────────────────────
NGINX_PORT=80

# ── (Optional) Docker Hub for CI/CD push ──────────────────────
DOCKERHUB_USERNAME=your-dockerhub-username
